<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test register</title>
</head>
<body>
<h1>REGISTRATION</h1>
<form action ='register' method="post">
    {% csrf_token %}
       <input type="text" name="username" placeholder="enter your username"><br>
       <input type="text" name="first_name" placeholder="enter your first_name"><br>
       <input type="text" name="last_name" placeholder="enter your last_name"><br>
       <input type="email" name="email" placeholder="enter your email"><br>
       <input type="password" name="password" placeholder="enter your password"><br>
       <input type="password" name="password1" placeholder="conform your password"><br>
       <input type="submit">

</form>
{% for msg in messages %}
{{msg}}
{% endfor %}

</body>
</html>